@charset "utf-8";
.container header {
    background-color: #F7DC84;
}
.container header nav {
    background-color: #F7DC84;
}
.container #hero {
    background-image: url(images/%E5%B0%81%E9%9D%A2.png);
}
.container #about  {
    background-image: -webkit-linear-gradient(270deg,rgba(236,218,169,1.00) 0%,rgba(233,228,212,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(236,218,169,1.00) 0%,rgba(233,228,212,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(236,218,169,1.00) 0%,rgba(233,228,212,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(236,218,169,1.00) 0.00%,rgba(233,228,212,1.00) 100%);
}
.container .banner {
    background-image: url(images/%E5%B0%81%E9%9D%A22.png);
}
.container #contact {
    background-image: url(images/%E5%B0%81%E9%9D%A2.png);
}
.container .copyright {
    background-image: url(images/%E5%B0%81%E9%9D%A2.png);
}
